@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap&subset=cyrillic-ext");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

body {
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 400;
  color: #000;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 86.875em;
  margin: 0 auto;
  padding: 0 0.9375em;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.6875em;
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  line-height: calc(22px + 5 * ((100vw - 320px) / 1600));
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #151515;
  text-align: center;
}

.btn {
  padding: 0.8125em 1.875em;
  background-color: #DC0000;
  border-radius: 3.125em;
  font-size: 0.875em;
  line-height: 1.3125em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: center;
  position: relative;
  transition: all 0.3s ease 0s;
}

.btn span {
  padding: 0px 30px 0px 0px;
  background: url("../img/icons/form-contacts-button.svg") right no-repeat;
}

.input {
  background-color: transparent;
  border-bottom: 1px solid #2D2D2D;
  padding: 0px 0px 20px 0px;
  font-size: 0.875em;
  line-height: 1.3125em;
  color: #7A7A7A;
  transition: border 0.2s linear;
}

.input:focus {
  border-bottom: 1px solid #DC0000;
}

.textarea {
  background-color: transparent;
  resize: unset;
  font-size: 0.875em;
  line-height: 1.3125em;
  border-bottom: 1px solid #2D2D2D;
  color: #7A7A7A;
  padding: 0px 0px 60px 0px;
  transition: all 0.3s ease 0s;
}

.textarea:focus {
  border-bottom: 1px solid #DC0000;
}

.input::-moz-placeholder, .textarea::-moz-placeholder {
  font-size: 0.875em;
  line-height: 1.3125em;
  color: #7A7A7A;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  font-size: 0.875em;
  line-height: 1.3125em;
  color: #7A7A7A;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 0.875em;
  line-height: 1.3125em;
  color: #7A7A7A;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

.popup__content {
  padding-top: calc(50px + 20 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
  padding-right: calc(36px + 29 * ((100vw - 320px) / 1600));
  padding-left: calc(36px + 29 * ((100vw - 320px) / 1600));
  background-color: #fff;
  position: relative;
  transition: all 0.5s ease 0s;
  opacity: 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: perspective(100px) translate(0px, -100%) rotateX(0deg);
}

.popup__title {
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  line-height: calc(22px + 5 * ((100vw - 320px) / 1600));
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #151515;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.popup__subtitle {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  line-height: calc(20px + 5 * ((100vw - 320px) / 1600));
  color: #151515;
  margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
  text-align: center;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  transform: perspective(100px) translate(0px, 0px) rotateX(0deg);
}

.title-contacts-b {
  line-height: 1.3125em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(13px + 1 * ((100vw - 320px) / 1600));
  color: #151515;
}

.form-popup__column {
  margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
}

.form-popup__button {
  padding: 13.5px 50px;
}

.form-popup {
  width: 16.0625em;
}

.form-popup__input {
  width: 100%;
}

.header {
  min-height: 3.125em;
  padding: 1.25em 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  flex: 0 0 8.125em;
  position: relative;
  z-index: 5;
}

.header__logo {
  flex: 0 0 3.125em;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.875em;
       column-gap: 1.875em;
}

.menu-header__item:last-child {
  display: none;
}

.menu-header__link {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0D0D0D;
  transition: all 0.3s ease 0s;
}

.header__burger {
  display: none;
}

.header__menu.active {
  top: 0;
}

.header__burger.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  top: 9px;
  width: 20px;
}

.header__burger.active span:nth-of-type(2) {
  transform: scale(0);
}

.header__burger.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  bottom: 9px;
}

.footer {
  background: #151515;
  padding-top: calc(40px + 30 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
  border-top: 1px solid #2D2D2D;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer__list {
  display: flex;
  align-items: center;
  -moz-column-gap: calc(0px + 70 * ((100vw - 320px) / 1600));
       column-gap: calc(0px + 70 * ((100vw - 320px) / 1600));
}

.menu-footer__link {
  font-size: 0.875em;
  line-height: 1.3125em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F2F2F2;
  transition: all 0.3s ease 0s;
}

.intro {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(40px + 60 * ((100vw - 320px) / 1600));
}

.intro__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  filter: brightness(50%);
  -moz-filter: brightness(50%);
}

.intro__info {
  max-width: calc(320px + 840 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 3;
  padding: 5.625em 0px 0px 0px;
}

.intro__title {
  font-weight: 600;
  text-align: center;
  color: #fff;
  font-size: calc(25px + 35 * ((100vw - 320px) / 1600));
  line-height: calc(32px + 58 * ((100vw - 320px) / 1600));
}

.intro__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: calc(53px + 135 * ((100vw - 320px) / 1600));
}

.intro__phone {
  font-weight: 500;
  font-size: 33px;
  font-size: calc(19px + 14 * ((100vw - 320px) / 1600));
  line-height: 3.125em;
  letter-spacing: 0.01em;
  color: #fff;
}

.intro__phone span {
  color: #929292;
}

.intro__arrow {
  width: 4.5625em;
  height: 4.5625em;
  background: url("../img/icons/arrow-intro.svg") no-repeat;
}

.intro__mail {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.6875em;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.intro__mail::before {
  content: "";
  margin: 0px 10px 0px 0px;
  display: inline-block;
  width: 2em;
  height: 1.5625em;
  background: url("../img/icons/mail.svg") no-repeat;
}

.clips {
  margin-bottom: calc(100px + 100 * ((100vw - 320px) / 1600));
}

.clips__slider {
  margin-top: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.slider-clips__container {
  position: relative;
  height: 530px;
}

.slider-clips__slide {
  position: relative;
}

.slider-clips__image {
  width: calc(320px + 440 * ((100vw - 320px) / 1600));
  height: calc(283px + 217 * ((100vw - 320px) / 1600));
  position: relative;
  transition: all 0.3s ease 0s;
}

.slider-clips__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
}

.slider-clips__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 85%;
  left: 40px;
}

.slider-clips__link {
  font-size: 1.625em;
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 2.4375em;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  color: #fff;
}

.slider-clips__link::after {
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  margin-left: calc(14px + 11 * ((100vw - 320px) / 1600));
  background: url("../img/icons/arrow-slider-link.svg") no-repeat;
}

.slider-clips__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-clips__navigation {
  position: absolute;
  right: 15%;
  bottom: -70px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-clips__arrow.swiper-button-prev::after,
.slider-clips__arrow.swiper-button-next::after {
  font-size: 0;
}

.slider-clips__arrow.swiper-button-next::after {
  background: url("../img/icons/clips-slider-arrow-right.svg") right no-repeat;
  width: 40px;
  height: 40px;
}

.slider-clips__arrow.swiper-button-prev::after {
  background: url("../img/icons/clips-slider-arrow-left.svg") left no-repeat;
  width: 40px;
  height: 40px;
}

.swiper-slide-active .slider-clips__image {
  transition: all 0.3s ease 0s;
  height: calc(283px + 317 * ((100vw - 320px) / 1600));
  width: calc(320px + 440 * ((100vw - 320px) / 1600));
}

.swiper-slide-active .slider-clips__info {
  bottom: -80px;
}

.swiper-slide-active .slider-clips__link {
  color: #000;
}

.swiper-slide-active .slider-clips__link::after {
  background: url("../img/icons/arrow-slider-link_b.svg") no-repeat;
}

.swiper-pagination-clickable span {
  background-color: #DC0000;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 20px;
  width: 100%;
  left: 0;
}

.marquee {
  margin-bottom: calc(40px + 60 * ((100vw - 320px) / 1600));
}

.marquee__black {
  max-width: 100%;
  transform: rotate(3deg) translateY(100%);
  position: relative;
  z-index: 3;
}

.marquee__white {
  max-width: 100%;
  transform: rotate(-3deg);
}

.black-marquee__content {
  background-color: #000;
  display: flex;
  align-items: center;
  -moz-column-gap: calc(20px + 25 * ((100vw - 320px) / 1600));
       column-gap: calc(20px + 25 * ((100vw - 320px) / 1600));
  -webkit-animation: marquee-content 5s linear infinite;
          animation: marquee-content 5s linear infinite;
  padding: 0.625em 0;
  width: 200%;
}

.black-marquee__item {
  width: 100%;
}

.white-marquee__content {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.625em 0;
  -moz-column-gap: calc(20px + 25 * ((100vw - 320px) / 1600));
       column-gap: calc(20px + 25 * ((100vw - 320px) / 1600));
  -webkit-animation: marquee-content 5s linear infinite;
          animation: marquee-content 5s linear infinite;
  border: 1px solid #3E3737;
  width: 200%;
}

.white-marquee__item {
  width: 100%;
}

@-webkit-keyframes marquee-content {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-content {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.services__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
  margin-top: calc(40px + 30 * ((100vw - 320px) / 1600));
}

.services__column {
  flex: 0 0 30.3125em;
}

.services__column:nth-child(2) {
  padding: 100px 0px 0px 0px;
}

.services__item {
  margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
}

.item-services__title {
  font-weight: 600;
  font-size: 2.25em;
  font-size: calc(25px + 11 * ((100vw - 320px) / 1600));
  color: #151515;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
  line-height: calc(32px + 18 * ((100vw - 320px) / 1600));
}

.item-services__title::before {
  content: "";
  background-color: #DC0000;
  width: 5.125em;
  height: 0.0625em;
  display: block;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.item-services__image {
  position: relative;
  width: 30.3125em;
  height: 18em;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
  display: block;
}

.item-services__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-services__text {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5625em;
  color: #151515;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.item-services__list {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.5625em;
  color: #151515;
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.item-services__subtext {
  font-weight: 400;
  font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
  line-height: 1.8125em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #DC0000;
}

.services-list__item {
  padding: 20px 0;
  border-bottom: 1px solid #DADADA;
  position: relative;
  display: flex;
  align-items: center;
}

.services-list__item:last-child {
  border: none;
  padding: 20px 0px 0px 0px;
}

.services-list__item:first-child {
  padding: 0px 0px 20px 0px;
}

.services-list__item:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  background-color: #000;
  margin: 0px 10px 0px 0px;
}

.about {
  background: #F3F3F3;
  padding-top: calc(25px + 45 * ((100vw - 320px) / 1600));
  padding-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.content-about__top {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
  margin-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.content-about__title {
  margin-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.content-about__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.9375em;
       column-gap: 0.9375em;
  flex-wrap: wrap;
}

.top-content-about__title {
  max-width: 43.75em;
  font-size: calc(25px + 23 * ((100vw - 320px) / 1600));
  line-height: calc(38px + 34 * ((100vw - 320px) / 1600));
  font-weight: 600;
  color: #151515;
}

.top-content-about__text {
  max-width: 31.25em;
  font-weight: 400;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  line-height: calc(20px + 11 * ((100vw - 320px) / 1600));
  color: #151515;
}

.top-content-about__text p {
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.top-content-about__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.items-content-about__item {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #151515;
  border: 2px solid #F3F3F3;
  border-radius: 30px;
  width: calc(290px + 103 * ((100vw - 320px) / 1600));
  height: calc(290px + 60 * ((100vw - 320px) / 1600));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.items-content-about__count {
  font-size: calc(50px + 20 * ((100vw - 320px) / 1600));
  line-height: calc(55px + 22 * ((100vw - 320px) / 1600));
  font-weight: 600;
  text-align: center;
  color: #DC0000;
  margin: 0px 0px 0.125em 0px;
}

.items-content-about__text {
  font-weight: 400;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: calc(24px + 6 * ((100vw - 320px) / 1600));
  text-align: center;
  color: #161616;
}

.partners {
  padding-top: calc(40px + 50 * ((100vw - 320px) / 1600));
  padding-bottom: calc(40px + 50 * ((100vw - 320px) / 1600));
}

.partners__title {
  margin-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.partners__content {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: calc(40px + 90 * ((100vw - 320px) / 1600));
       column-gap: calc(40px + 90 * ((100vw - 320px) / 1600));
  overflow-x: auto;
}

.contacts {
  background: #151515;
  padding-top: calc(25px + 45 * ((100vw - 320px) / 1600));
  padding-bottom: calc(45px + 25 * ((100vw - 320px) / 1600));
}

.contacts__title {
  color: #F8F8F8;
  margin-bottom: calc(25px + 45 * ((100vw - 320px) / 1600));
}

.contacts__content {
  display: flex;
  -moz-column-gap: calc(0px + 70 * ((100vw - 320px) / 1600));
       column-gap: calc(0px + 70 * ((100vw - 320px) / 1600));
}

.content-contacts__map {
  flex: 1 1 600px;
}

.content-contacts__map iframe {
  width: calc(375px + 225 * ((100vw - 320px) / 1600));
  height: calc(375px + 225 * ((100vw - 320px) / 1600));
}

.content-contacts__form {
  flex: 1 1 257px;
}

.content-contacts__info {
  padding: 0px 0px 0px 50px;
}

.form-contacts__column {
  margin-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
}

.form-contacts__input {
  width: 100%;
}

.form-contacts__button {
  display: flex;
  align-items: center;
}

.title-contacts {
  line-height: 1.3125em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1600));
  font-size: calc(13px + 1 * ((100vw - 320px) / 1600));
}

.info-contacts__column {
  margin-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
}

.info-contacts__text {
  line-height: 1.3125em;
  color: #B9B9B9;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}

@media (min-width: 61.99875em) {
  .btn:hover {
    background-color: #a90000;
  }

  .menu-header__link:hover {
    color: #F41240;
  }

  .menu-footer__link:hover {
    color: #F41240;
  }

  .marquee__black:hover .black-marquee__content {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .marquee__white:hover .white-marquee__content {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@media (max-width: 1375px) {
  .partners__content {
    justify-content: flex-start;
    padding: 20px 20px;
  }
}

@media (max-width: 1076px) {
  .items-content-about__item {
    width: 18.75em;
    height: 17.5em;
  }
}

@media (max-width: 1025px) {
  .slider-clips__container {
    height: 360px;
    height: calc(283px + 203 * ((100vw - 320px) / 1600));
  }

  .slider-clips__image {
    width: 100%;
  }

  .slider-clips__info {
    bottom: 10px;
  }

  .slider-clips__navigation {
    width: 100%;
    right: 0;
  }

  .swiper-slide-active .slider-clips__image {
    width: 100%;
    height: calc(283px + 217 * ((100vw - 320px) / 1600));
  }

  .swiper-slide-active .slider-clips__info {
    bottom: 10px;
  }

  .swiper-slide-active .slider-clips__link {
    color: #fff;
  }

  .swiper-slide-active .slider-clips__link::after {
    background: url("../img/icons/arrow-slider-link.svg") no-repeat;
  }

  .services__column {
    flex: 0 0 22.1875em;
  }

  .item-services__image {
    width: 22.1875em;
    height: 18.125em;
  }
}

@media (max-width: 61.99875em) {
  .content-about__items {
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 1.5625em;
  }

  .items-content-about__column {
    flex: 0 0 100%;
  }

  .items-content-about__item {
    width: 100%;
    height: 10.9375em;
  }

  .contacts__content {
    flex-wrap: wrap;
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 40px;
  }

  .content-contacts__map iframe {
    width: 100%;
    min-height: 23.4375em;
  }

  .content-contacts__map {
    flex: 1 1 100%;
    order: 2;
  }

  .content-contacts__form {
    order: 3;
  }

  .content-contacts__info {
    order: 1;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 47.99875em) {
  .menu-header__list {
    flex-direction: column;
    row-gap: 1.875em;
  }

  .menu-header__item:last-child {
    display: block;
  }

  .menu-header__link {
    color: #151515;
    font-size: 0.875em;
    letter-spacing: 0.01em;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }

  .header__burger span:nth-of-type(1) {
    background-color: #000;
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }

  .header__burger span:nth-of-type(2) {
    background-color: #000;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease;
  }

  .header__burger span:nth-of-type(3) {
    background-color: #000;
    position: absolute;
    width: 20px;
    height: 2px;
    bottom: 0;
    transition: all 0.3s ease;
  }

  .header__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -1000%;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
    overflow: auto;
  }

  .footer__row {
    flex-direction: column;
    justify-content: center;
    row-gap: 2.5em;
  }

  .menu-footer__list {
    flex-direction: column;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 2.5em;
  }

  .intro__footer {
    flex-direction: column;
    justify-content: center;
  }

  .intro__phone {
    line-height: 1.75em;
    margin: 0px 0px 0.375em 0px;
  }

  .intro__mail {
    line-height: 1.3125em;
    margin: 1.125em 0px 0px 0px;
  }

  .marquee {
    margin-bottom: calc(100px + 20 * ((100vw - 320px) / 1600));
  }

  .marquee__black {
    transform: rotate(4deg) translateY(100%);
  }

  .marquee__white {
    transform: rotate(-4deg);
  }

  .services__content {
    -moz-column-gap: 0;
         column-gap: 0;
  }

  .services__column:nth-child(2) {
    padding: 0px 0px 0px 0px;
  }

  .services__column {
    flex: 0 0 100%;
  }

  .item-services__image {
    width: 100%;
  }

  .content-about__top {
    flex-wrap: wrap;
    row-gap: 1.5625em;
  }

  .top-content-about__title {
    max-width: 100%;
  }

  .top-content-about__text {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .form-popup {
    width: 14.8125em;
  }

  .slider-clips__info {
    left: 30px;
  }

  .marquee__black {
    transform: rotate(5deg) translateY(100%);
  }

  .marquee__white {
    transform: rotate(-5deg);
  }

  .item-services {
    line-height: 1.375em;
  }
}